<div id = "content">

<h1>Ostoskorisi</h1>

<% total = 0 %>

<table>
	<% @carts.each do |id, quantity| %>
	<% product = Product.find(id) %>
	<tr>
		<td><%= image_tag((product.image_url), :width => 90) %></td>
		<td width="80"><%= product.title %></td>
		<td width="30"><%= quantity %></td>
		<td width="60"><%= number_to_currency product.price, :unit => "&euro;" %></td>
		<td width="60"><%= number_to_currency product.price * quantity, :unit => "&euro;" %></td>
	</tr>
	<% total += quantity * product.price %>
<% end %>
	<tr>
		<td colspan="4">Total:</td>
		<td><%= number_to_currency total, :unit => "&euro;" %></td>
	</tr>
	</table>

<%= link_to "Takaisin tuotelistaan", admin_index_path %> |
<%= button_to "Tyhjennä ostoskori", :action => :empty_cart %>

</div>