<div id = "content">

<h1>Tuotelistamme</h1>

<%= link_to "Your Cart", :controller => :carts, :action => :index %>

<!-- talla lisataan sellanen magee vaakaviiva eri productien valiin -->
 <tr> <td colspan="8">
<hr/>
 </td> </tr>

<table>

<!-- Rakenne tuollainen, koska: kuvat vasemmalle. Sitten kaikki loput oikealle,
mutta siten etta eri asiat asettuu natisti toistensa paalle. Poistettu product_id koska
ei varsinaisesti kuulu asiakkaalle. link_to ohjaa lisatietosivulle kun klikataan joko
kuvaa tai otsikkoa. Sanitize putsaa epavalidin html:n.-->

<% @products.each do |product| %>
  <tr>
    <td><%= image_tag(product.image_url) %></td>
<td>
    <div class="title"><%= link_to product.title, product %></div>
    <div class="description"><%= sanitize(product.description) %></div>
    <div class="links"> <%= link_to 'N채yt채', product %> | <%= link_to 'Muokkaa', edit_product_path(product) %> |
    <%= link_to 'Poista', product, :confirm => 'Oletko varma?', :method => :delete %></div>

<!-- tuon tavoitteena on vaihtaa hinta Suomen euroiksi. span liittyy jutun nayttamiseen -->
<div class="price_line">
<span class="price"><%= number_to_currency product.price, :unit => "&euro;" %></span>
<%= button_to 'Lis채채 ostoskoriin', :controller => :carts, :action => :add, :id => product %>
</div>
</td>
  </tr>
  
 <!-- talla lisataan sellanen magee vaakaviiva eri productien valiin -->
 <tr> <td colspan="2">
<hr/>
 </td> </tr>
 
<% end %>
</table>

<br />

<%= link_to 'Uusi tuote', new_product_path %>

</div>