<h1>Tuotelistamme</h1>

<%= link_to "Ostoskoriin", :controller => :carts, :action => :index %>

<!-- talla lisataan sellanen magee vaakaviiva eri productien valiin -->
 <tr> <td colspan="8">
<hr/>
 </td> </tr>

<table>


<% products.each do |product| %>
  <tr>
    <td><%= image_tag(product.image_url) %></td>
<td>
    <div class="title"><%= link_to product.title, product %></div>
    <div class="description"><%= sanitize(product.description) %></div>
    <div class="links"> <%= link_to 'Lisätietoja', product %></div>

<!-- tuon tavoitteena on vaihtaa hinta Suomen euroiksi. span liittyy jutun nayttamiseen -->
<div class="price_line">
<span class="price"><%= number_to_currency product.price, :unit => "&euro;" %></span>
<%= button_to 'Lisää ostoskoriin', :controller => :carts, :action => :add, :id => product %>
</div>
</td>
  </tr>
  
 <!-- talla lisataan sellanen magee vaakaviiva eri productien valiin -->
 <tr> <td colspan="2">
<hr/>
 </td> </tr>
 
<% end %>
</table>

<br>

<%= link_to "Uusi tuote", new_product_path %>
