<div id="content">

<p id="notice"><%= notice %></p>



<p>
  <b>Tuoteryhmä:</b>
  <%= @product.group %>
</p>

<p>
  <b>Tuote:</b>
  <%= @product.title %>
</p>

<p>
  <b>Tuotteen kuvaus:</b>
  <%= @product.description %>
</p>

<p>
  <b>Hinta:</b>
  <%= @product.price %>
</p>

<p>
  <b>Tuotekuvan url-osoite:</b>
  <%= @product.image_url %>
</p>

<%= link_to 'Takaisin', :back %>

</div>
